{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: pageTitle
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>{{t('pages.organisationDetails.description')}} : {{ orgDetailsViewModel.companyName }} : {{ orgDetailsViewModel.companiesHouseNumber }}</p>
        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.companyName')}}</dt>
            <dd class="govuk-summary-list__value">{{ orgDetailsViewModel.companyName }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.schemeRegistrationId')}}</dt>
            <dd class="govuk-summary-list__value">{{ orgDetailsViewModel.schemeRegistrationId}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.companiesHouseNumber')}}</dt>
            <dd class="govuk-summary-list__value"><a href='https://find-and-update.company-information.service.gov.uk/company/{{ orgDetailsViewModel.companiesHouseNumber }}' > {{ orgDetailsViewModel.companiesHouseNumber }} </a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.registeredAddress')}}</dt>
            <dd class="govuk-summary-list__value">{{ orgDetailsViewModel.registeredAddress }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.approvedPerson')}}</dt>
            <dd class="govuk-summary-list__value">{{ orgDetailsViewModel.approvedPerson }}</dd>
          </div>
        </dl>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.directors')}}</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>

          {% for director in orgDetailsViewModel.directors %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"></dt>
            <dd class="govuk-summary-list__value"> {{ director.name }} </dd>
          </div>
          {% endfor %}
          <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">{{t('pages.organisationDetails.orgStatus')}}</dt>
               <dd class="govuk-summary-list__value">{{ orgDetailsViewModel.orgStatus }}</dd>
             </div>
        </dl>
      </div>
    </div>
  </div>

{% endblock %}
