{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: pageTitle
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

        <p>{{t('pages.organisationList.description')}}</p>
        <h2>Tasks</h2>
			<ul>
			  {% for org in organisationsViewModel %}
				<li><strong>{{ org.name }}<br/></strong> {{ org.id }} : {{ org.foo }}</li>
			  {% endfor %}
			</ul>
      </div>
    </div>
  </div>

{% endblock %}
