{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: pageTitle
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>{{ t('pages.operator.description') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for entry in orgsWithApplications %}
            {% for app in entry.applications %}
              <li>
                <a href="/operator-accreditation/{{ entry.org.orgId if entry.org.orgId else entry.org.id }}/{{ app.siteId }}/{{ app.materialType }}/{{ app.year }}" class="govuk-link">
                  {{t('pages.operator.accreditation')}} for {{ app.organisationName if app.organisationName else entry.org.name }}, {{ app.siteId }}, {{ app.materialType }}, {{ app.year }}
                </a>
              </li>
            {% endfor %}
          {% endfor %}
          <li><a href="/operator-registration" class="govuk-link"> {{t('pages.operator.registration')}} </a></li>
          <li><a href="/operator-details" class="govuk-link"> {{t('pages.operator.details')}} </a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
