{% extends 'layouts/page.njk' %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block content %}
  {% if notification %}
    {{ govukNotificationBanner({ text: notification }) }}
  {% endif %}

  {{ appHeading({
    text: heading,
    caption: pageTitle
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>{{ t('pages.operator.description') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/operator-accreditation/50001/aaa000000000000000050001/Plastic/2027" class="govuk-link">
              New Accreditation for NEWDEV RECYCLING LIMITED, Plastic, 2027
            </a>
          </li>
          <li>
            <a href="/operator-accreditation/50002/aaa000000000000000050002/Glass/2027" class="govuk-link">
              New Accreditation for Beta Recycling Co, Glass, 2027
            </a>
          </li>
             <li>
            <a href="/operator-accreditation/50003/aaa000000000000000050003/Plastic/2027" class="govuk-link">
              Re-Accreditation for Delta Green Ltd, Plastic, 2027
            </a>
          </li>
          <li><a href="/operator-accreditation/50005/aaa000000000000000050005/Plastic/2027/exporter" class="govuk-link"> Exporter accreditation — Plastic 2027</a></li>
          <li><a href="/operator-accreditation/50006/aaa000000000000000050006/Glass/2027/exporter" class="govuk-link"> Exporter accreditation — Glass 2027 (with overseas sites)</a></li>
          <li><a href="/operator-registration" class="govuk-link"> {{t('pages.operator.registration')}} </a></li>
          <li><a href="/operator-details" class="govuk-link"> {{t('pages.operator.details')}} </a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
