{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: serviceName
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>{{ t('common.yes') }}</p>
        If you did not expect to see this page have you added your page to router.js
      </div>
    </div>
  </div>

{% endblock %}
