{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="{{ backLink }}" class="govuk-back-link" data-testid="back-link">{{ t('common.back') }}</a>

      {% if errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary" data-testid="error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">{{ t('common.errorSummaryTitle') }}</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if errors.materialType %}
                  <li>
                    <a href="#materialType">{{ errors.materialType.text }}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        <div class="govuk-form-group {% if errors.materialType %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" {% if errors.materialType %}aria-describedby="materialType-error"{% endif %}>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading" data-testid="page-heading">{{ heading }}</h1>
            </legend>

            {% if errors.materialType %}
              <p id="materialType-error" class="govuk-error-message" data-testid="field-error">
                <span class="govuk-visually-hidden">Error:</span>
                {{ errors.materialType.text }}
              </p>
            {% endif %}

            <div class="govuk-radios" data-module="govuk-radios" data-testid="material-radios">
              {% for option in materialOptions %}
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="materialType-{{ loop.index }}"
                    name="materialType"
                    type="radio"
                    value="{{ option.value }}"
                    {% if option.checked %}checked{% endif %}
                    {% if option.disabled %}disabled{% endif %}
                    {% if option.hint %}aria-describedby="materialType-{{ loop.index }}-hint"{% endif %}
                    data-testid="material-option-{{ option.value | lower }}">
                  <label class="govuk-label govuk-radios__label" for="materialType-{{ loop.index }}">
                    {{ option.text }}
                  </label>
                  {% if option.hint %}
                    <div id="materialType-{{ loop.index }}-hint" class="govuk-hint govuk-radios__hint" data-testid="already-applied-hint-{{ option.value | lower }}">
                      {{ option.hint.text }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-testid="continue-button">
          {{ t('common.continue') }}
        </button>

      </form>

    </div>
  </div>
{% endblock %}
