{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Regulator landing page"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/worklist-items" class="govuk-link">Worklist Items</a></li>
          <li><a href="/organisation-list" class="govuk-link">Organisation List</a></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
